/* ACTIVE HOUSE */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 2s ease-in-out;
}

.bg-gradient-black-red {
  background: linear-gradient(to right, rgb(32, 31, 31), red);
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card img {
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.section-title {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}

.section-title::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -0.5rem;
  transform: translateX(-50%);
  width: 50%;
  height: 4px;
  background-color: red;
  border-radius: 2px;
}